section.stage {
  div.main {
    @include border-top-radius($border-radius-base);
    @include border-bottom-radius($border-radius-base);
    border-width: 1px;
    border-color: $popover-border-color;
    border-style: solid;
    padding: $panel-body-padding;

    button.pixel {
      margin: 0;
      padding: 0;
      border: none;
      width: 16px;
      height: 16px;
      background: grey;
    }
    div.cs-row {
      margin:0;
      padding:0;
      line-height:0;
    }

  }
}