div.directive-frames {
  counter-reset: section;
  div.panel-body {
    overflow: auto;
    ul {
      white-space: nowrap;
      li {
        padding: 0;
        margin: 0;
        min-height: 0;
        margin-right: 10px;
        @include animateAll(200ms);

        &:hover {
          @include setScale(1.030);
          span {
            opacity: 1;
          }
          canvas {
            border: 2px solid $brand-primary !important;
          }
        }

        > div {
          position: relative;
          padding: 0;
          margin: 0;
          > span {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 5px;
            background: $brand-primary;
            color: white;
            opacity: 0;
          }
        }
        canvas {
          border-color: $panel-default-border;
          border-width: 1px;
          border-style: solid;
          cursor: pointer;
          &.active {
            border: 1px solid red;
          }
        }
      }
    }
  }
}