<div class="directive-frames">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="btn-group pull-right" style="margin-top:-2px">
        <a class="btn btn-success btn-xs" ng-click="frames.addFrame()">+ Add</a>
        <!--a href="#" class="btn btn-primary btn-xs">Delete</a>
        <a href="#" class="btn btn-danger btn-xs">Move</a-->
      </div>
      <i class="glyphicon glyphicon-blackboard"></i>
      Frames <span class="badge">{{frames.Collector.frames.length}}</span>
    </div>
    <div class="panel-body">
      <ul class="list-inline">
        <li ng-repeat="frame in frames.Collector.frames track by $index" ng-click="frames.setActiveFrame($index);">
          <div>
            <canvas id="{{frame.id}}" class="cs-frame" ng-class="{'active': frames.Collector.selected == $index}"></canvas>
            <span>{{$index + 1}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="panel-footer">
      ...
    </div>
  </div>
</div>