<nav class="navbar navbar-default main">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LED Animation Wizard</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group cs-matrix-size">
          <span>Matrix Size</span>
          <div class="input-group">
            <span class="input-group-addon">V:</span>
            <input type="number" class="form-control" placeholder="Vertical" ng-model="navigation.settings.matrix.size.vertical">
          </div>
          <div class="input-group">
            <span class="input-group-addon">H:</span>
            <input type="number" class="form-control" placeholder="Horizontal" ng-model="navigation.settings.matrix.size.horizontal">
          </div>
        </div>
      </form>
      <div class="navbar-form btn-group navbar-left" role="group">
        <button type="button" class="btn btn-default" ng-click="navigation.playx();">
          <i class="glyphicon glyphicon-play-circle"></i> Play
        </button>
        <button type="button" class="btn btn-default">
          <i class="glyphicon glyphicon-heart"></i> Other
        </button>
        <button type="button" class="btn btn-default">
          <i class="glyphicon glyphicon-qrcode"></i> Option
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown keyboard-nav>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdown-toggle >Lessons <span class="caret"></span></a>
          <ul class="dropdown-menu"  role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem">
              <a href="#">Active</a>
            </li>
            <li role="separator" class="divider"></li>
            <li role="menuitem"><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li role="menuitem"><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->


  </div>
</nav>