section.settings {
  ul.nav-tabs {
    li {
      cursor: pointer;
    }
  }
  div.tab-content {
    border-left: 1px solid $nav-tabs-border-color;
    border-bottom: 1px solid $nav-tabs-border-color;
    border-right: 1px solid $nav-tabs-border-color;

    -webkit-border-bottom-right-radius: $nav-pills-border-radius;
    -webkit-border-bottom-left-radius: $nav-pills-border-radius;
    -moz-border-radius-bottomright: $nav-pills-border-radius;
    -moz-border-radius-bottomleft: $nav-pills-border-radius;
    border-bottom-right-radius: $nav-pills-border-radius;
    border-bottom-left-radius: $nav-pills-border-radius;
    padding:$nav-link-padding;
  }
}